body{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  
}

#addStuff{
  height: 3rem;
  width: 100%;
  background-color:#4585F5;
  display: flex;
  align-items: center;
  box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.36);
}

input {
  height: 1rem;
  border-radius: .35rem;
  border: none;
}

#content {
  width: 100%;
  display: flex;
  justify-content: left;
}

#listWindow{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  height: 35rem;
  padding-left: .5rem;
  background-color: #4585F5;
  border-bottom-right-radius: .5rem;
}

#taskWindow {
  height: 100%; 
  width: 90%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  
}

.taskDiv {
  padding: 0 .5rem;
  margin: .55rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  width: 90%;
  background-color: rgba(35,35,35,.1);
  border-radius: .5rem;
  box-shadow: 2px 3px 7px 1px rgba(0,0,0,0.36);
}

.taskDiv:hover {
  background-color: #DB9776;
  color: white;
}

.testBox{
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

label{
  margin-left: .5rem;
  font-size: 1.5rem;
  color: white;
}