body{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  background-color: rgb(116, 80, 182);
}

#addStuff{
  height: 4rem;
  width: 100%;
  background-color: rgb(92, 172, 198);
  display: flex;
  align-items: center;
}

#content {
  width: 100%;
  display: flex;
  justify-content: left;
}

#listWindow{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  height: 100%;
  background-color: rgb(131, 101, 159);
}

#taskWindow {
  height: 100%; 
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: rgb(134, 132, 163);
}

.taskDiv {
  height: 3rem;
  width: 98%;
  background-color: rgb(70, 70, 146);
}

.taskDiv:hover {
  background-color: rgb(94, 94, 155);
  color: white;
}

input[type="radio"]{
  width: 5rem;
  height: 4rem;
  background-color: blue;
  text-decoration: none;
}
